.previewTitle {
  font-size: 40px;
  margin-bottom: 40px;
}

.previewWord {
  color: #5e17eb;
}

.previewVideo {
  position: relative;
  padding: 43.25% 0 0 0;
}

@media (max-width: 750px) {
  .previewVideo {
    padding: 56.25% 0 0 0;
  }
}

@media (max-width: 520px) {
  .previewTitle {
    font-size: 30px;
  }
}
